/* DLR Logo */
.reveal .slides {
  background-image: url("../images/dlr_logo.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 10%;
}

/* Clipped background */
div.slide-background
{
  background-image: url("../images/bg_normal.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

/* No borders for img */
.reveal section img
{
  border: None;
}

/* YouTube Videos */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

header
{
  position: absolute;
  top: 1%;
  font-size: 12px;
  color: #6C6F73;
}

/* Progress bar at the top */
.progress{
  top: 0;
}

/* Utility styles */

.medium-text
{
  font-size: 70%;
}

.small-text{
  font-size: 50%;
}

.xsmall-text{
  font-size: 40%;
}

.xxsmall-text{
  font-size: 30%;
}

.italic
{
  font-style: italic;
}

#main-title
{
  line-height: 1.0;
  margin-bottom: 10px;
}

#subtitle
{
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 70%;
}

.margin-top-25
{
  margin-top: 25px;
}

.reveal section .caption
{
  margin-top: -15px;
  line-height: 1.0;
}
